.hero {
    /* to position other parts relatively , note that relative and absolute positions are only for parent and children elements */
    position: relative;
}

.hero .banner-img {
    width: 100%;
    /* document */
    /* right side of the picture is transparent and goes black on the left */
    mask-image: linear-gradient(to right , transparent , black 75%);
    -webkit-mask-image: linear-gradient(to right , transparent , black 75%);
}

.hero .hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.hero .hero-caption .caption-img {
    /* we use both */
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero .hero-caption p {
    /* breaking the line using max-width */
    max-width: 700px;
    margin-bottom: 20px;
}



.hero-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.hero-btns .btn img {
    width: 25px;
}

.hero-btns .btn  {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    /* document */
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

/* there shouldn't be space between btn and dark-btn */
.hero-btns .btn.dark-btn {
    background: #6d6d6eb3;
    color: #fff;
}

/* hover effects of btns */

.hero-btns .btn:hover {
    background: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover {
    background: #6d6d6e66;
}



.more-cards {
    padding-left: 6%;
}


/* respnsive */

@media (max-width : 1080px) {
    .hero-caption .title-cards {
        display: none;
    }
    .hero-btns {
        margin-bottom: 30px;
    }
}


@media (max-width : 800px) {
    .hero-caption {
        padding-left: 4%;
    }
    .caption-img {
        margin-bottom: 11px;
        width: 40%;
    }
    .hero-caption p {
        font-size: 12px;
        margin-bottom: 11px;
    }
    .hero-btns .btn img {
        width: 20px;
    }
    .more-cards {
        padding-left: 4%;
    }
}


@media (max-width : 590px) {
    .caption-img {
        display: none;
    }
    .hero-btns .btn img {
        width: 15px;
    }
    .hero-btns .btn {
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}